
h1 { 
	text-align: center;
 }

 body {
 	text-align: center;
 	font-family: helvetica;
} 	

.hero {
	background-image: url('../images/island.jpg');
	height: 800px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}	

.circle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-image: url('../images/island.jpg');
	background-size: cover;