
h1 { 
	text-align: center;
	color: rgba(02,21,59,1);
	font-size: 100px;
	font-family: "Times New Roman";
 }

header {
	text-align: center;
	color: rgba(02,21,59,1);
	font-size: 30px;
	font-family: "Times New Roman";
	font-style: italic;
}

 body {
 	text-align: center;
 	font-family: helvetica;
} 	

.hero {
	background-image: url('../images/people.jpg');
	height: 900px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}	

.circle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-image: url('../images/beach.jpg');
	background-size: cover;